In [2]:
import pandas as pd
import numpy as np
#df_org=pd.read_csv(filepath+"application_train_merge_clear_nomissing .csv")
#df_org2=pd.read_csv("application_train_merge_clear_nomissing_with_ylabel_dy.csv")
#df_org1=pd.read_csv("application_train_merge_clear_nomissing_with_ylabel.csv")

In [3]:
df_org3=pd.read_csv("prev_app_final.csv")

In [4]:
#df1=df_org1
#df2=df_org2
df3=df_org3

In [5]:
df3.shape

(338605, 31)

In [6]:
df3.columns.tolist()

['SK_ID_CURR',
 "('SK_ID_PREV', 'max')",
 "('AMT_ANNUITY', 'median')",
 "('AMT_APPLICATION', 'max')",
 "('AMT_CREDIT', 'max')",
 "('AMT_CREDIT', 'sum')",
 "('AMT_DOWN_PAYMENT', 'median')",
 "('AMT_GOODS_PRICE', 'max')",
 "('AMT_CRE/APP', 'max')",
 "('RATE_DOWN_PAYMENT', 'median')",
 "('RATE_INTEREST_PRIMARY', 'median')",
 "('RATE_INTEREST_PRIMARY', 'max')",
 "('DAYS_DECISION', 'median')",
 "('CNT_PAYMENT', 'median')",
 "('DAYS_PERIOD', 'median')",
 'CONTRACT_Cash_loans',
 'CONTRACT_Consumer_loans',
 'CONTRACT_Revolving_loans',
 'Cash through the bank',
 'Cashless from the account of the employer',
 'Non-cash from your account',
 'PORTFOLIO_Cards',
 'PORTFOLIO_Cars',
 'Cash',
 'PORTFOLIO_POS',
 'YIELD_high',
 'YIELD_low',
 'YIELD_middle',
 'HOUR_APPR_PROCESS_START',
 'WEEKDAY_APPR_PROCESS_START',
 'NAME_TYPE_SUITE']

In [ ]:
setA=set(A)
setB=set(B)
setC=set(C)

In [20]:
df=df.drop(df[['REG_REGION_NOT_LIVE_REGION', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'NAME_TYPE_SUITE_Children', 'NAME_HOUSING_TYPE_Office apartment', 'NAME_HOUSING_TYPE_Rented apartment', 'OCCUPATION_TYPE_Cleaning staff', 'OCCUPATION_TYPE_Cooking staff', 'OCCUPATION_TYPE_Low-skill Laborers', 'OCCUPATION_TYPE_Private service staff', 'ORGANIZATION_TYPE_Agriculture', 'ORGANIZATION_TYPE_Bank', 'ORGANIZATION_TYPE_Housing', 'ORGANIZATION_TYPE_Military', 'ORGANIZATION_TYPE_Police', 'ORGANIZATION_TYPE_Postal', 'ORGANIZATION_TYPE_Restaurant', 'ORGANIZATION_TYPE_Security', 'ORGANIZATION_TYPE_Security Ministries', 'ORGANIZATION_TYPE_Services', 'FONDKAPREMONT_MODE_not specified', 'FONDKAPREMONT_MODE_org spec account', 'WALLSMATERIAL_MODE_Mixed', 'WALLSMATERIAL_MODE_Monolithic', 'WALLSMATERIAL_MODE_Others', 'WALLSMATERIAL_MODE_Wooden']],axis=1)

In [67]:
df1=df1.drop(df1[[ 'SK_NUM_PREV',
 'NUM_INSTALMENT_VERSION',
 'DAYS_LATE_PAYMENT',
 'AMT_ARREARS',
 'PC_CNT_INSTALMENT_max',
 'PC_CNT_INSTALMENT_mean',
 'PC_SK_DPDMix_Max',
 'PC_SK_DPDMix_mean',
 'PC_Delay_total',
 'PC_Delay_mean',
 'PC_count','bureau_CREDIT_ACTIVE',
 'bureau_CREDIT_Closed',
 'bureau_CREDIT_Sold',
 'bureau_DAYS_CREDIT',
 'bureau_CREDIT_DAY_OVERDUE',
 'bureau_DAYS_CREDIT_ENDDATE',
 'bureau_DAYS_ENDDATE_FACT',
 'bureau_CNT_CREDIT_PROLONG',
 'bureau_AMT_CREDIT_SUM',
 'bureau_AMT_CREDIT_SUM_DEBT',
 'bureau_AMT_CREDIT_SUM_LIMIT',
 'bureau_AMT_CREDIT_SUM_OVERDUE',
 'bureau_CREDIT_TYPE_Car loan',
 'bureau_CREDIT_TYPE_Consumer credit',
 'bureau_CREDIT_TYPE_Credit card',
 'bureau_CREDIT_TYPE_Microloan',
 'bureau_CREDIT_TYPE_Mortgage',
 'bureau_DAYS_CREDIT_UPDATE',
 'bureau_CLOSE',
 'bureau_SK_ID_BUREAU_counts',
 'FLAG_DOCUMENT_RATIO',
 'NAN']],axis=1)

In [61]:
a1=[1,2,3,4,5]
b1=[2,3,4,5,6]
a=set(a1)
b=set(b1)

In [62]:
a-b

{1}

In [21]:
df.head()

,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_EDUCATION_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,FLAG_EMP_PHONE,FLAG_WORK_PHONE,...,FONDKAPREMONT_MODE_reg oper account,FONDKAPREMONT_MODE_reg oper spec account,HOUSETYPE_MODE_block of flats,WALLSMATERIAL_MODE_Block,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes,simple_labelx,scores
0,1.0,0.0,202500.0,1.0,-9461.0,-637.0,-3648.0,-2120.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,96
1,0.0,0.0,270000.0,3.0,-16765.0,-1188.0,-1186.0,-291.0,1.0,0.0,...,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,100
2,0.0,0.0,67500.0,1.0,-19046.0,-225.0,-4260.0,-2531.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100
3,0.0,0.0,135000.0,1.0,-19005.0,-3039.0,-9833.0,-2437.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,96
4,0.0,0.0,121500.0,1.0,-19932.0,-3038.0,-4311.0,-3458.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,88

In [68]:
df1.to_csv('application_train_merge_clear_nomissing_with_ylabel_dy.csv')

In [69]:
df1.shape

(307511, 137)